nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* background-image: url("../../images/background1.jpg"); */
    background-size: cover;
    background-position: center;
}

nav ul {
    list-style-type: none;
    text-align: right;

}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    
}

h1 {
    color: whitesmoke;
}